header{
    text-align: center;
    margin-bottom: 30px;
    .link{
        margin-left: 30px;
        margin-bottom:30px;
    }
}

.container{
    margin:auto;
    // text-align: center;
    width: max-content;
}

.is-active{
    color: blue;
}